// Based on 2014 Material Design color palettes:
// https://material.io/design/color/#tools-for-picking-colors

// Red
$red-50: #f85858;
$red-100: #f85858;
$red-200: #f85858;
$red-300: #f85858;
$red-400: #f85858;
$red-500: #f85858;
$red-600: #f85858;
$red-700: #f85858;
$red-800: #f85858;
$red-900: #f85858;
$red-a100: #f85858;
$red-a200: #f85858;
$red-a400: #f85858;
$red-a700: #f85858;

// Pink
$pink-50: #f076ab;
$pink-100: #f076ab;
$pink-200: #f076ab;
$pink-300: #f076ab;
$pink-400: #f076ab;
$pink-500: #f076ab;
$pink-600: #f076ab;
$pink-700: #f076ab;
$pink-800: #f076ab;
$pink-900: #f076ab;
$pink-a100: #f076ab;
$pink-a200: #f076ab;
$pink-a400: #f076ab;
$pink-a700: #f076ab;

// Purple
$purple-50: #a07dde;
$purple-100: #a07dde;
$purple-200: #a07dde;
$purple-300: #a07dde;
$purple-400: #a07dde;
$purple-500: #a07dde;
$purple-600: #a07dde;
$purple-700: #a07dde;
$purple-800: #a07dde;
$purple-900: #a07dde;
$purple-a100: #a07dde;
$purple-a200: #a07dde;
$purple-a400: #a07dde;
$purple-a700: #a07dde;

// Deep Purple
$deep-purple-50: #a07dde;
$deep-purple-100: #a07dde;
$deep-purple-200: #a07dde;
$deep-purple-300: #a07dde;
$deep-purple-400: #a07dde;
$deep-purple-500: #a07dde;
$deep-purple-600: #a07dde;
$deep-purple-700: #a07dde;
$deep-purple-800: #a07dde;
$deep-purple-900: #a07dde;
$deep-purple-a100: #a07dde;
$deep-purple-a200: #a07dde;
$deep-purple-a400: #a07dde;
$deep-purple-a700: #a07dde;

// Indigo
$indigo-50: #3dddd8;
$indigo-100: #3dddd8;
$indigo-200: #3dddd8;
$indigo-300: #3dddd8;
$indigo-400: #3dddd8;
$indigo-500: #3dddd8;
$indigo-600: #3dddd8;
$indigo-700: #3dddd8;
$indigo-800: #3dddd8;
$indigo-900: #3dddd8;
$indigo-a100: #3dddd8;
$indigo-a200: #3dddd8;
$indigo-a400: #3dddd8;
$indigo-a700: #3dddd8;

// Blue
$blue-50: #008ce3;
$blue-100: #008ce3;
$blue-200: #008ce3;
$blue-300: #008ce3;
$blue-400: #008ce3;
$blue-500: #008ce3;
$blue-600: #008ce3;
$blue-700: #008ce3;
$blue-800: #008ce3;
$blue-900: #008ce3;
$blue-a100: #008ce3;
$blue-a200: #008ce3;
$blue-a400: #008ce3;
$blue-a700: #008ce3;

// Light Blue
$light-blue-50: #3dddd8;
$light-blue-100: #3dddd8;
$light-blue-200: #3dddd8;
$light-blue-300: #3dddd8;
$light-blue-400: #3dddd8;
$light-blue-500: #3dddd8;
$light-blue-600: #3dddd8;
$light-blue-700: #3dddd8;
$light-blue-800: #3dddd8;
$light-blue-900: #3dddd8;
$light-blue-a100: #3dddd8;
$light-blue-a200: #3dddd8;
$light-blue-a400: #3dddd8;
$light-blue-a700: #3dddd8;

// Cyan
$cyan-50: #3dddd8;
$cyan-100: #3dddd8;
$cyan-200: #3dddd8;
$cyan-300: #3dddd8;
$cyan-400: #3dddd8;
$cyan-500: #3dddd8;
$cyan-600: #3dddd8;
$cyan-700: #3dddd8;
$cyan-800: #3dddd8;
$cyan-900: #3dddd8;
$cyan-a100: #3dddd8;
$cyan-a200: #3dddd8;
$cyan-a400: #3dddd8;
$cyan-a700: #3dddd8;

// cyan
$cyan-50: #3dddd8;
$cyan-100: #3dddd8;
$cyan-200: #3dddd8;
$cyan-300: #3dddd8;
$cyan-400: #3dddd8;
$cyan-500: #3dddd8;
$cyan-600: #3dddd8;
$cyan-700: #3dddd8;
$cyan-800: #3dddd8;
$cyan-900: #3dddd8;
$cyan-a100: #3dddd8;
$cyan-a200: #3dddd8;
$cyan-a400: #3dddd8;
$cyan-a700: #3dddd8;

// Green
$green-50: #2ac68e;
$green-100: #2ac68e;
$green-200: #2ac68e;
$green-300: #2ac68e;
$green-400: #2ac68e;
$green-500: #2ac68e;
$green-600: #2ac68e;
$green-700: #2ac68e;
$green-800: #2ac68e;
$green-900: #2ac68e;
$green-a100: #2ac68e;
$green-a200: #2ac68e;
$green-a400: #2ac68e;
$green-a700: #2ac68e;

// Light Green
$light-green-50: #2ac68e;
$light-green-100: #2ac68e;
$light-green-200: #2ac68e;
$light-green-300: #2ac68e;
$light-green-400: #2ac68e;
$light-green-500: #2ac68e;
$light-green-600: #2ac68e;
$light-green-700: #2ac68e;
$light-green-800: #2ac68e;
$light-green-900: #2ac68e;
$light-green-a100: #2ac68e;
$light-green-a200: #2ac68e;
$light-green-a400: #2ac68e;
$light-green-a700: #2ac68e;

// Lime
$lime-50: #FF8A00;
$lime-100: #FF8A00;
$lime-200: #FF8A00;
$lime-300: #FF8A00;
$lime-400: #FF8A00;
$lime-500: #FF8A00;
$lime-600: #FF8A00;
$lime-700: #FF8A00;
$lime-800: #FF8A00;
$lime-900: #FF8A00;
$lime-a100: #FF8A00;
$lime-a200: #FF8A00;
$lime-a400: #FF8A00;
$lime-a700: #FF8A00;

// Yellow
$yellow-50: #ffdc7b;
$yellow-100: #ffdc7b;
$yellow-200: #ffdc7b;
$yellow-300: #ffdc7b;
$yellow-400: #ffdc7b;
$yellow-500: #ffdc7b;
$yellow-600: #ffdc7b;
$yellow-700: #ffdc7b;
$yellow-800: #ffdc7b;
$yellow-900: #ffdc7b;
$yellow-a100: #ffdc7b;
$yellow-a200: #ffdc7b;
$yellow-a400: #ffdc7b;
$yellow-a700: #ffdc7b;

// Amber
$amber-50: #F24949;
$amber-100: #F24949;
$amber-200: #F24949;
$amber-300: #F24949;
$amber-400: #F24949;
$amber-500: #F24949;
$amber-600: #F24949;
$amber-700: #F24949;
$amber-800: #F24949;
$amber-900: #F24949;
$amber-a100: #F24949;
$amber-a200: #F24949;
$amber-a400: #F24949;
$amber-a700: #F24949;

// Orange
$orange-50: #FF8A00;
$orange-100: #FF8A00;
$orange-200: #FF8A00;
$orange-300: #FF8A00;
$orange-400: #FF8A00;
$orange-500: #FF8A00;
$orange-600: #FF8A00;
$orange-700: #FF8A00;
$orange-800: #FF8A00;
$orange-900: #FF8A00;
$orange-a100: #FF8A00;
$orange-a200: #FF8A00;
$orange-a400: #FF8A00;
$orange-a700: #FF8A00;

// Deep Orange
$deep-orange-50: #FF8A00;
$deep-orange-100: #FF8A00;
$deep-orange-200: #FF8A00;
$deep-orange-300: #FF8A00;
$deep-orange-400: #FF8A00;
$deep-orange-500: #FF8A00;
$deep-orange-600: #FF8A00;
$deep-orange-700: #FF8A00;
$deep-orange-800: #FF8A00;
$deep-orange-900: #FF8A00;
$deep-orange-a100: #FF8A00;
$deep-orange-a200: #FF8A00;
$deep-orange-a400: #FF8A00;
$deep-orange-a700: #FF8A00;

// Brown
$brown-50: #99611F;
$brown-100: #99611F;
$brown-200: #99611F;
$brown-300: #99611F;
$brown-400: #99611F;
$brown-500: #99611F;
$brown-600: #99611F;
$brown-700: #99611F;
$brown-800: #99611F;
$brown-900: #99611F;

// Grey
$grey-50: #9097A0;
$grey-100: #9097A0;
$grey-200: #9097A0;
$grey-300: #9097A0;
$grey-400: #9097A0;
$grey-500: #9097A0;
$grey-600: #9097A0;
$grey-700: #9097A0;
$grey-800: #9097A0;
$grey-900: #9097A0;

// Blue Grey
$blue-grey-50: #6777CD;
$blue-grey-100: #6777CD;
$blue-grey-200: #6777CD;
$blue-grey-300: #6777CD;
$blue-grey-400: #6777CD;
$blue-grey-500: #6777CD;
$blue-grey-600: #6777CD;
$blue-grey-700: #6777CD;
$blue-grey-800: #6777CD;
$blue-grey-900: #6777CD;

// Black
$black: #151818;

// White
$white: #d7d7d7;
